

<small class="text-muted"  *ngIf="Rank > 0">
  <span *ngIf="Rank > 0; else blank_star">
    &#9733;
  </span> 
  <span *ngIf="Rank > 1; else blank_star">
    &#9733;
  </span> 
  <span *ngIf="Rank > 2; else blank_star">
    &#9733;
  </span> 
  <span *ngIf="Rank > 3; else blank_star">
    &#9733;
  </span> 
  <span *ngIf="Rank > 4; else blank_star">
    &#9733;
  </span> 
  <span *ngIf="Rank > 4; else blank_star">
    &#9733;
  </span> 
  <ng-template #blank_star>&#9734;</ng-template>
</small>


